msgpack==0.5.6
msgpack-numpy==0.4.1
numpy==1.15.4
Pillow>=6.2.0
requests>=2.22.0
setuptools>=41.4.0
Sphinx==2.3.1
sphinx-autodoc-typehints==1.10.3
sphinx-autodoc-typehints==1.10.3
sphinx-rtd-theme==0.4.3
